<div class="backlog-constructor">
  <div class="constructor-header flex">
    <input type="text" placeholder="backlog name" />
    <button>{{ "save" }}</button>
  </div>
  <div class="fields flex flex-col">
    <div class="field-constructor flex flex-col">
      <div class="flex">
        <input type="text" placeholder="field name" />
        <input type="text" placeholder="default value" />
      </div>
      <button>{{ "add new field" }}</button>
    </div>
  </div>
  <div class="view-constructor">
    <div class="desktop"></div>
    <div class="mobile"></div>
  </div>
</div>
